body{
    background-image: url("fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

header{
    height: 5%;
    background: #252739; 

}

.titulo{
    color: #ffff;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    height: 100%;    
    font-family: 'Montserrat', sans-serif;

}

.logo{
    background: #FF2727;
    border: 3px solid black;
    width: 6%;
    position: absolute;
    top:0px;
}

.section-1{
    display: flex;
    height: 45%;
    justify-content: center;
    align-items: center;

}

.section-2{
    display: flex;
    height: 45%;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;

    
}

.btn-inicio{
    font-size: 35px;
    padding: 30px;
    border-radius: 13px;
    background: #6E0707;
    font-weight: bolder;
    color: white;
    

}

.btn-inicio:hover{
    background: red;
    cursor: pointer;
}


.canvas{
    height: 250px;   
    border: 3px solid red;
    background: #252739;
    border-radius: 10px;
}



#intentos{
    display: flex;
    justify-content: center;
    font-size: 28px;
    height: 50px;
    margin-top: 5px;
    color: red;
    font-weight: bolder;
    font-style: italic;
}

#letra{
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}


.campo-falladas{
    display: flex;
    justify-content: center;
    font-size: 24px;
    height: 50px;
    margin-top: 20px;
}

.letra-fallada{
    font-size: 25px;
    background-color: red;
    margin-left: 15px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 3px solid #400404;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.campo-palabra{
    display: flex;
    justify-content: center;
    font-size: 24px;
    height: 50px;
    margin-top: 10px;
}

.campo-letra{
    width: 40px;
    padding: 10px;
    text-align: center;
    background: #252739;
    margin-left: 6px;
    border-radius: 10px;
    border: 2px solid red;
    color: white;
    font-weight: bolder;

}

.container-botones{
    align-self: center;
    margin-top: 15px;
}

.btn-rendirse{
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    background: red;
    margin-left: 20px;
    border: 3px solid #1C0505;
    color: white;
    font-weight: bolder;

}

.btn-rendirse:hover{
    cursor: pointer;
    background-color:#FF2727;
}

.btn-nueva-palabra{
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    background: red;
    border: 3px solid #1C0505;
    color: white;
    font-weight: bolder;
}

.btn-nueva-palabra:hover{
    cursor: pointer;
    background-color:#FF2727;
}

footer{
    display: flex;
    height: 5%;
    background:#252739 ;
    align-items: center;
    text-align: center;
    
}

.info{
    color: #fff;
    height: 100%;
    display: inline;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}

.linked{
    margin-left: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.linked:hover{
    color: red;
}

.ocultar{
    display: none;
}
