*{
    font-family: sans-serif

}

body{
    background-image: url("fondo.jpg");
    background-size: cover;
}

.section-1{
    height: 50%;
    position: relative;
}

.btn-inicio{
    font-size: 35px;
    position: absolute;
    z-index: 1;
    top: 220px;
    left: 530px;
    padding: 30px;
    border-radius: 13px;
    background: #6E0707;
    font-weight: bolder;
    color: white;
    
}

.btn-inicio:hover{
    background: red;
    cursor: pointer;
}


.canvas{
    height: 250px;
    margin: 20px 0px 30px 420px;
    border: 3px solid red;
    background: #252739;
    border-radius: 10px;
}

#contenedor-form{
    margin-left: 500px;
    margin-top: 30px   ;
}



#palabra{
    margin-top: 20px;
    font-size: 40px;
    text-transform: uppercase;
}

#intentos{
    display: flex;
    justify-content: center;
    font-size: 28px;
    height: 50px;
    margin-top: 5px;
    color: red;
    font-weight: bolder;
    font-style: italic;
}

#letra{
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

#boton{
    padding: 10px;
}

.campo-falladas{
    display: flex;
    justify-content: center;
    font-size: 24px;
    height: 50px;
    margin-top: 20px;
}

.letra-fallada{
    font-size: 25px;
    background-color: red;
    margin-left: 15px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 3px solid #400404;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.campo-palabra{
    display: flex;
    justify-content: center;
    font-size: 24px;
    height: 50px;
    margin-top: 20px;
}

.campo-letra{
    width: 40px;
    padding: 10px;
    text-align: center;
    background: #252739;
    margin-left: 6px;
    border-radius: 10px;
    border: 2px solid red;
    color: white;
    font-weight: bolder;

}

.btn-rendirse{
    font-size: 15px;
    position: absolute;
    padding: 15px;
    border-radius: 10px;
    background: red;
    left: 690px;
    margin-top: 25px;
    margin-left: 20px;
    border: 3px solid #1C0505;
    color: white;
    font-weight: bolder;
}

.btn-rendirse:hover{
    cursor: pointer;
    background-color:#FF2727;
}

.btn-nueva-palabra{
    font-size: 15px;
    position: absolute;
    padding: 15px;
    border-radius: 10px;
    background: red;
    left: 520px;
    margin-top: 25px;
    border: 3px solid #1C0505;
    color: white;
    font-weight: bolder;
    
}

.btn-nueva-palabra:hover{
    cursor: pointer;
    background-color:#FF2727;
}

.ocultar{
    display: none;
}

